<title>
    Driving Game 
</title>

<div class="container">

    <div class="toggle-button-cover">
        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox", id="checkbox" />
                <div class="knobs"></div>
                <div class="layer"></div>
            </div>
        </div>
    </div>
    <div>
        <span id="rangeValue">0 Simulation Speed</span>
        <Input class="range" id="range" type="range" value="0" min="0" max="1000"></Input>
    </div>
  </div>


<canvas id="myCanvas" height="200px"  width="200px" id="canvas"></canvas>
