<title>
    Flappy 
</title>

<div class="container">

    <div class="toggle-button-cover">
        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" />
                <div class="knobs"></div>
                <div class="layer"></div>
            </div>
        </div>
    </div>
    <h1>Playtest</h1>
    <input type="range" class="range-style">
  </div>


<canvas height="200px"  width="200px" id="canvas"></canvas>


