
<div class="centered">
    <h1 style="font-family: Verdana;font-weight: 500;">Awesomesauce AI of Awesomeness</h1>
    <button id="FlappyButton" class="styled-button">Play FlappyBird</button>
    <button id="DrivingButton" class="styled-button">Play Driving Game</button>
    <button id="DrawTrackButton" class="styled-button">Make a RaceTrack</button>
    <button id="CircularRaceTrack" class="styled-button">Circular RaceTrack</button>
</div>
<!-- <button id="Maze" class="styled-button">Maze(only kinda works)</button> -->





